.footer {
    padding: 100px 0;
    background-image: linear-gradient(45deg, #3695ff 20%, #469dff 20% 40%, #4098ff 40% 60%, #3c89fe 60% 80%, #357afd 80%);
}
.footer-text {
    font-size: 50px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.footer-span {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
   .footer-content {
       flex-direction: column;
       text-align: center;
   }
    .footer-text {
        margin-bottom: 30px;
    }
}
